root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{csproj,props,targets,config,json,yml,yaml}]
indent_size = 2

[*.{cshtml,html,css,js}]
indent_size = 4

[*.md]
trim_trailing_whitespace = false

[*.cs]
# Organização de usings
dotnet_sort_system_directives_first = true
csharp_using_directive_placement = outside_namespace:suggestion

# Chaves e novas linhas
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true

# Preferências de estilo
dotnet_style_prefer_auto_properties = true:suggestion
csharp_style_var_for_built_in_types = false:suggestion
csharp_prefer_braces = true:suggestion
dotnet_diagnostic_IDE0055.severity = suggestion
